<a data-toggle="collapse" data-target="#definition_form_div"><div><h3>Definition</h3></div></a>
<div id="definition_form_div" class="collapse in">
<table>
    <tbody>
        <td class="w2p_fl"><label for="no_table_definition" id="no_table_definition__label">Definition: </label></td>
        <td class="w2p_fw"><textarea class="text" cols="40" id="no_table_definition" name="definition" rows="10">{{=form_data.definition}}</textarea></td>
        <td class="w2p_fc"></td>
    </tbody>
</table>
</div>
