<div>
<fieldset>
    <legend>
        <a data-toggle="collapse" data-target="#definition_identifier_form_div">Definition/Identifier Form</a>
        <span class="pull-right">
            <input type="submit" value="Save" class="btn" />
        </span>
    </legend>
<div id="definition_identifier_form_div" class="collapse in">

    <table>
        <tbody>
            <tr id="no_table_definition__row">
                <td class="w2p_fl">
                    {{include 'text_manager/definition_form.html'}}
                </td>
                <td class="w2p_fw">
                    {{include 'text_manager/identifier_form.html'}}
                </td>
            </tr>
         </tbody>
   </table>
</div>
