<a data-toggle="collapse" data-target="#identifier_form_div"><div><h3>Identifier</h3></div></a>
<div id="identifier_form_div" class="collapse in">
<table>
    <tbody>
        <tr id="no_table_application__row">
            <td class="w2p_fl"><label for="no_table_application" id="no_table_application__label">Application: </label></td>
            <td class="w2p_fw"><input class="string" id="no_table_application" name="application" type="text" value="{{=form_data.application}}"></td>
            <td class="w2p_fc"></td>
        </tr>
        <tr id="no_table_controller__row">
            <td class="w2p_fl"><label for="no_table_controller" id="no_table_controller__label">Controller: </label></td>
            <td class="w2p_fw"><input class="string" id="no_table_controller" name="controller" type="text" value="{{=form_data.controller}}"></td>
            <td class="w2p_fc"></td>
         </tr>
         <tr id="no_table_function__row">
            <td class="w2p_fl"><label for="no_table_function" id="no_table_function__label">Function: </label></td>
            <td class="w2p_fw"><input class="string" id="no_table_function" name="function" type="text" value="{{=form_data.function}}"></td>
            <td class="w2p_fc"></td>
         </tr>
         <tr id="no_table_identifier__row">
             <td class="w2p_fl"><label for="no_table_identifier" id="no_table_identifier__label">Identifier: </label></td>
             <td class="w2p_fw"><input class="string" id="no_table_identifier" name="identifier" type="text" value="{{=form_data.identifier}}"></td>
             <td class="w2p_fc"></td>
         </tr>
    </tbody>
</table>
</div>
